.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.35rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  height: 400px;
  width: 90%;
  max-width: 300px;
  margin: 20px;

  .front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px !important;
  }

  .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px !important;
  }
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 0.5rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.card .back p {
  max-width: 75px;
}

.MuiButtonBase-root {
  color: white !important;
  border-color: white !important;
}
