.mobile-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
