.flipable-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

.mobile {
  flex-direction: column;
}

.company-logo-container {
  border-radius: 50%;
  padding: 10px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .company-logo {
    height: 100px;
  }
}

.technologies {
  margin: 10px auto !important;
  text-align: center;
}

.summary-list {
  &li:first-child {
    list-style: none;
    left: -40px;
  }
}
